@{
    Layout = null;
}

<div class="attention">
    <img id="attention-icon" src="~/Images/exclamation-24.png">
    <div id="attention-message" class="error-message">При оплате заказа безналичным расчетом, стоимость заказа увеличится на 6%</div>
</div>
