@{
    Layout = null;
}

<div class="attention">
    <img id="attention-icon" src="~/Images/attention.png">
    <div id="attention-message">Цены:&nbsp;<b>@ViewBag.Discounts</b>&nbsp;<span class="rouble">e</span></div>
</div>
